<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" 
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" 
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" 
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h4>이미지 바꾸기</h4>
    <img src="" alt="">

    <h4><%= data %>단</h4>
    for(let i=1; i<10; i++){
        <div><%= data %> x <%=i %>=<%= data * i %></div><%} %>
        
    }
</body>
</html>