<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= userInfo.userName %>님 안녕하세요.</h2>
    <h4>프로필 사진</h4>
   <img src="<%= userProfile %>" width="500px" height="500px">
  
</body>
</html>