<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원목록</h1>
    <a href="/">홈으로 이동</a>
    <br>
    <br>
    <fieldset>
        <legend>
            회원정보추가
        </legend>
        <label for="name">이름</label>
        <input type="text" name="name" id="name">
        <br><br>
        <label for="gender">성별</label>
        <input type="text" name="gender" id="gender">
        <br><br>
        <label for="major">전공</label>
        <input type="text" name="major" id="major">
        <br><br>
        <!-- <input type="text" name="" id=""> -->
        <!-- <br><br> -->
        <button type="submit">회원정보추가</button>
    </fieldset>
    <ul>
        <% for ( let i = 0; i < lists.length; i++) { %>
            <li>
                <!-- <b><%= lists[i].name %></b> -->
                <a href="/member/<% lists[i].id %>"><%= lists[i].name %></a>
            </li>    
        <% } %>
    </ul>
    <br>
</body>
</html>