<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= date.name %>님의 정보</h1>
    <div>
        <p>성별: </p>
        <p>전공: </p>
    </div>
    <a href="/members">회원목록</a>
</body>
</html>