<form name="register">
    <input type="text" id="name">
    <input type="text" id="gender">
    <input type="text" id="major">
    <input type="text">
    <button type="button" onclick="registerFunc()">추가</button>
</form>


<script>
    function registerFunc() {
        const form = document.forms["register"]
        const data = {
            name: form.name.value,
            gender: form.gender.value,
            major: form.gender.valuse
        };
        axios ({
            method: "post",
            url: " /register",
            data,
        }).then(res => {
            if(res.data.result) {
                document.location.reload();
            }
        })
    }
</script>