<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>동적 form 실습</h1>
    <a href="/axiosGet" style="color: black">axios get 실습</a>
    <br>
    <a href="/axiosPost" style="color: black;">axios post 실습</a>
</body>
</html>