<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습1. GET으로 정보 받기</h1>
    <form action="/resultGet" method="get">
        <label for="username">이름</label>
        <input type="text" name="username" id="username">
        <br>
        <fieldset>
            <legend>생년원일</legend>
            <select name="birthYear" id="year"></select>
                <% for ( let i = 1980; i <=2000; i++) { %>
                <option value="<%= i %>"><%}
        </fieldset>
    </form>
</body>
</html>