<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>GET, POST 실습</h2>
    <a href="/getSurvey">GET 실습</a>
    <br>
    <a href="/postSurvey">POST 실습</a>
</body>
</html>