.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 애벌레 css */
/* .a {
  width: 100px;
  height: 100px;
  background-color: #257f26;
  border-radius: 50%;
}
.b {
  width: 100px;
  height: 100px;
  background-color: #61cb62;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 50px;
}
.c {
  width: 100px;
  height: 100px;
  background-color: #63b064;
  border-radius: 50%;
  position: relative;
  top: -150px;
  left: 100px;
}
.d {
  width: 100px;
  height: 100px;
  background-color: #7ab47b;
  border-radius: 50%;
  position: relative;
  top: -250px;
  left: 150px
}
.e {
  width: 100px;
  height: 100px;
  background-color: #438f45;
  border-radius: 50%;
  position: relative;
  top: -320px;
  left: 200px

}
.f{
  width: 25px;
  height: 25px;
  background-color: #cfcfcf;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 15px;

  
}
.g{
  width: 10px;
  height: 10px;
  background-color: #0b0b0b;
  border-radius: 50%;
  position: absolute;
  top: 252px;
  left: 16px;

} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
